<div class="jumbotron">
    <h1>TEAM UP ON ME</h1>
    <p class="lead">TEAM UP ON ME is like Discord, but not great</p>
    <p><a href="http://www.discord.gg" class="btn btn-primary btn-lg">TEAM ME UP &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Send a message to someone</h2>
        <p>Or don't</p>
        <p><a class="btn btn-default" href="http://www.discord.gg">FULL SEND &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Make a new friend</h2>
        <p>Or don't</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">YES PLEASE &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Did you enjoy this program?</h2>
        <p>Probably not.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">NO &raquo;</a></p>
    </div>
</div>
